.container {
    width: 960px;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 40px;
    font-family: 'Calibri','CalibriRegular',Verdana,Arial,Helvetica,sans-serif;
}

.gallery {}
.gallery .previews, 
.gallery .full, 
.gallery .desc {
    float: left;
    margin-right: 17px;
}

.gallery .desc, 
.gallery .full {
    width: 400px;
    font-size: 12px;
}

.gallery .desc h2 {
    margin-top: 0;
}

.gallery .previews a {
    display: block;
    margin-bottom: 17px;
}

.gallery .full, 
.gallery .full img {
    height: 600px;
    width: 600px;
    margin-bottom: 17px;
}

.gallery .previews a, 
.gallery .full, 
.gallery .bottom{
    border: 4px solid #eee;
}

.gallery .previews a:hover,
.gallery .previews a.selected {
    border: 4px solid #777;
}

.gallery .full img:hover {
    cursor: pointer;
}

.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

/**, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }
*/

.gallery .previews a {
  height: 100px;
}

.gallery .bottom {
  
  height: 200px;
  width: 725px;
  float: left;
 /* padding: 25px;*/
}




